.main-container{
    height: 120vh;
    background-color: rgb(0, 0, 0);
}
.sidebar{
    background-color: rgb(27, 41, 48);
    min-height: 120vh;
}
.sidebar-btn {
    width: 200px;
}
.admin-card{
    background: linear-gradient(to right, #ffffff , #94ade4 );
    text-shadow: 1px 1px rgb(85, 83, 83);
}
.card1{
    background: linear-gradient(to right,  #000000 ,#196e20 , #26ff00 );
    height: 92px;
    color: rgb(255, 255, 255);
}
.card2{
    background: linear-gradient(to right,  #000000 ,#195d80, #2d9299 );
    height: 92px;
    color: rgb(255, 255, 255);
}
.card3{
    background: linear-gradient(to right, #000000 ,#9b9d18, #e7eb0a );
    height: 92px;
    color: rgb(255, 255, 255);
}
.card4{
    height: 238px;
    background: linear-gradient(to right, #946ccc , #ffffff );
    color: rgb(0, 0, 0);
}
.movieAddCard{
    background-color: rgb(16, 16, 58);
}