.landing-page{
    background-image: url('https://wallpapercave.com/wp/wp6407012.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(255, 97, 39); */
}
.blur{
    backdrop-filter: blur(15px);
    height: 80vh;
    width: 80%;
    margin: 60px;
    padding: 30px;
}
.admin-panel{
    background: linear-gradient(to bottom right,rgba(0, 0, 0, 0.538), #3f3f3f , rgba(0, 0, 0, 0.538) );
    /* background-color: rgb(234, 255, 0); */
}