.coverover{
    background-image: linear-gradient( to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.booking-btn{
    margin-left: 100px;
    margin-top: 400px;
}
.Moviename{
    margin-top: -1200px;
    color: white;
    transition: 500ms;
    font-weight: bold;
}
.coverover:hover .Moviename{
    margin-top: -400px;
    transition: 500ms;
}
.coverover:hover .cover-img{
    transform: scale(1.3);
}
.info-card{
    background-color: rgb(28, 28, 28);
    box-shadow: 1px 1px 1px 1px rgb(109, 109, 109);
}